doctype html
html(lang='en')
    head
        link(href='/css/bootstrap.min.css', rel='stylesheet')
        script(src='/js/jquery.slim.min.js')
        script(src='/js/popper.min.js')
        script(src='/js/bootstrap.min.js')
        title= 'Tasks'
    body
        header
            nav(class='navbar navbar-dark bg-dark fixed-top')
                span(class='navbar-brand mb-0 h1')= 'Tasks'
        main(class='container-fluid', style='padding-top: 56px', role='main')
            block content